* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.colors {
  color: #adab9e;
  color: #d9e1ea;
  color: #9fcbd7;
  color: #00414b;
  color: #012225;
}

/* fonts */

#kaush {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

/* nav bar */

.nav {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  background-color: #d9e1ea;
  position: fixed;
  opacity: 0.9;
}

.nav ul {
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.nav li {
  list-style-type: none;
  padding: 12px 30px;
}

.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 3px solid;
  border-color: #adab9e;
  border-radius: 2rem;
}

.nav li :hover {
  border-color: #012225;
  animation: fadein 1s;
  border-style: outset;
}

a {
  color: #858585;
}

.available {
  position: relative;
}

.available::after {
  content: "I'M AVAILABLE";
  font-size: 0.5rem;
  position: absolute;
  background-color: #00414b;
  color: #ffffff;
  padding: 2px;
  right: 0;
  top: -5px;
}

.logoplace {
  position: relative;
  bottom: 0.6rem;
}

/* main */

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors {
  color: #adab9e;
  color: #d9e1ea;
  color: #9fcbd7;
  color: #00414b;
  color: #012225;
}

.bgimage {
  height: 60rem;
  background: linear-gradient(141deg, #9fcbd7 10%, #00414b 40%, #012225 75%);
  /* background-color: #00414b; */
  margin: 0 auto;
}

.main h1 {
  color: #9fcbd7;
  font-size: 5rem;
  padding-top: 40px;
  display: inline-block;
}

.typewriter {
  overflow: hidden; /* ensures the content is not revealed until animation */
  white-space: nowrap; /* keeps the content on a single line */
  margin: 0 auto; /* gives the scrolling effect as typing happens */
  letter-spacing: 0.5rem;
  border-right: 0.5rem solid #f0f0f0;
  animation: typing 3s steps(25, end), blink-caret 1s step-end infinite;
}

.main h2 {
  font-size: 3rem;
  padding-top: 2rem;
}

.main li {
  width: 10rem;
  display: inline;
}

.icon {
  height: 4rem;
}

.icon:hover {
  border: 0.25rem outset #adab9e;
  border-radius: 5rem;
  animation: fadein 1s;
}

.icon-box ul {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #012225;
}
/* hidden div, remove when im smarter */
.projectslocation {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 800px;
}
.homelocation {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
}

/* projects */

.projects {
}

.wrapper {
  background-color: #d9e1ea;
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

.projectsflex {
  border: 1rem solid #f2f2f2;
  border-radius: 2rem;
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

.divs4lyf {
  height: 30rem;
  width: auto;
}

.projectsbox {
  background-color: #d9e1ea;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.project-tab1 {
  height: 5rem;
  width: 15rem;
  border: 0.5rem solid #adab9e80;
  background-color: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
}

.project-tab2 {
  height: 5rem;
  width: 15rem;
  border: 0.5rem solid #00414b80;
  background-color: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
}

.project-tab3 {
  height: 5rem;
  width: 15rem;
  border: 0.5rem solid #9fcbd780;
  background-color: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
}

.more-tab {
  height: 5rem;
  width: 15rem;
  border: 10px solid #01222580;
  background-color: none;
  font-size: 2rem;
  padding: 1rem;
  margin: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5rem;
}

.projectcontent {
  height: 100%rem;
  margin-bottom: 4rem;
  display: flex;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.displaytext {
  height: 31rem;
  width: 30%;
  padding: 3rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.displayimage {
  border: 1px solid none;
  margin-left: 8rem;
  border-radius: 1rem;
  height: 31rem;
  width: 50%;
  overflow: hidden;
}

.imagesize {
  height: 100%;
  width: 100%;
}

#seemorebut {
  font-size: large;
  color: #012225;
  border: 0.25rem solid #9fcbd7;
  border-radius: 3rem;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem 0rem;
}

#seemorebut a {
  text-decoration: none;
}
.project-tab1:hover,
.project-tab2:hover,
.project-tab3:hover,
.more-tab:hover {
  background-color: none;
  border-color: #333333;
  border-style: outset;
  animation: fadein 1s;
  background-color: none;
}

/* contact */

.contactcontainer {
  background-color: #00414b;
  height: 8rem;
}

.hiddenboxcontainer {
  background-color: #00414b;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hiddenboxes {
  border: 1rem solid #adab9e;
  border-radius: 10rem;
  color: #00414b;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactcontainer h1 {
  color: #9fcbd7;
  width: 100%;
  position: relative;
  top: 3rem;
  left: 3rem;
  margin-top: 0;
}

.hiddenboxes:hover {
  color: #adab9e;
}

/* animation */

@keyframes fadein {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* responsive */

@media screen and (max-width: 400px) {
  /* navbar */
  .nav ul li a {
    display: none;
  }

  /* main */
  body {
    width: 100%;
  }

  .bgimage {
    height: 46rem;
  }
  .main h1 {
    font-size: 1rem;
  }
  .icon-box {
    width: 20rem;
  }

  /* projects */

  .wrapper {
    height: 35rem;
    padding: 1rem 1rem;
  }
  section.projectsbox {
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .projectsbox div {
    height: 2rem;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    border-radius: 3rem;
    border-width: 0.15rem;
  }
  div.displaytext {
    margin-left: 1rem;
    padding: 0;
  }

  div.more-tab,
  div.project-tab1,
  div.project-tab2,
  div.project-tab3 {
    padding: 0.5rem;
    margin: 0.25rem;
  }

  div.more-tab a,
  div.project-tab1 a,
  div.project-tab2 a,
  div.project-tab3 a {
    font-size: 0.5rem;
    text-decoration: none;
  }

  image#image3.imagesize {
    height: 2rem;
  }

  div.projectsflex {
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    border-width: 0.25rem;
  }

  p.projectinfo {
    width: 90%;
    height: 50%;
  }

  div.displaytext {
    display: flex;
    align-content: flex-end;
    width: 100%;
    height: 50%;
    margin: 0rem;
  }

  .displaytext p {
    margin-left: 0;
    padding: 0;
    height: 50%;
  }

  .displayimage img {
    height: 100%;
  }

  div.displayimage {
    margin-left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  div.displaybox {
    height: 50%;
  }

  div.projectcontent {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
  }

  /* contact */

  .hiddenboxes {
    height: 6rem;
    width: 6rem;
    border-width: 0.25rem;
  }
  div.hiddenboxes {
    font-size: 0.5rem;
  }
}
/* @media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 768px){

}
@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 1200px){

}
 */
